.header-style {
  background-color: #ffff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 104px;
  cursor: pointer;
}
.avatar {
  background-color: rgb(245, 245, 245);
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  margin-left: 20px;
}

@media (max-width: 425px) {
  .right-content {
    display: flex;
    flex-direction: column;
  }
  .avatar {
    display: none;
  }
  .avatar-responsive{
    background-color: rgb(245, 245, 245);
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 20px;
  }
}

@media (min-width: 426px) {
  .avatar-responsive{
    display: none;
  }
}

